<section class="balance_section">
  <form
    #f="ngForm"
    fxLayout="column"
    (ngSubmit)="updateAccountBalance(balanceInput.value)"
    fxLayoutAlign="start stretch"
    *ngIf="!this.renderDeclareBalanceWidget"
  >
    <div class="balance_title">Update Balance</div>
    <div fxLayout="row" class="mat_input">
      <mat-label>
        <mat-icon class="material-icons-outlined">attach_money</mat-icon>
        <span fxLayoutGap="10px">
          <mat-form-field>
            <input
              type="number"
              pattern=""
              matInput
              appearance="fill"
              ngModel
              name="balance"
              required
              #balanceInput
            />
            <!-- Error display commented out until we implement component
                 <mat-error *ngIf="balanceInput.hasError('required')"
              >Field must not be empty.</mat-error>
            -->
            <!--
              Commenting out until we work out implementation.             
              <mat-error *ngIf="invalid_balance">{{ invalidMessage }}</mat-error>
              -->
          </mat-form-field>
          <button
            mat-raised-button
            color="warn"
            type="submit"
            [disabled]="f.invalid"
          >
            Update
          </button>
          <span class="current-balance-span"
            >Current Balance: $ {{ this.balanceService.getBalance() }}
          </span>
        </span>
      </mat-label>
    </div>
  </form>
</section>
