<div fxLayout="column" fxLayoutAlign="center center">
    <div mat-dialog-title class="balance_title">Declare your balance</div>
    <div mat-dialog-content>
        <mat-icon class="material-icons-outlined"></mat-icon>
        <!-- Removed "attach_money" from above because it doesn't seem to have a purpose -->
        <span fxLayoutGap="10px">
            <mat-form-field class="mat-input">
                <mat-label>Enter a balance</mat-label>
                <input type="number" matInput [(ngModel)]="declareBalance" required #declareInput="ngModel" (keyup)="checkInput(declareInput.value)">
                <mat-error >Error: Must enter valid input.</mat-error>
            </mat-form-field>
        </span>
    </div>
    <mat-error *ngIf="error">{{ error }}</mat-error>
    <div mat-dialog-actions>
        <button mat-button
        color="warn"
        mat-raised-button
        (click)="this.declareAccountBalance()" 
        [disabled]="declareInput.hasError('required') || !this.inputValidator(declareInput.value)" 
        ised-button [mat-dialog-close]="true">Ok</button>
    </div>
</div>
