.balance_title {
  font-size: 200%;
  padding: 20px;
  margin: 0px;
  background-color: #f26925;
  color: white;
  width: 90%;
}

.mat-input {
  font-size: 150%;
  width: 300px;
  
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #F26925 !important;
 }

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color:#F26925 !important;
 }

.mat-raised-button {
  background-color: #F26925;
}

