<div fxLayout="column" fxLayoutAlign="center center">
    <div mat-dialog-title class="balance_title">Declare your balance</div>
    <div mat-dialog-content>
        <mat-icon class="material-icons-outlined">attach_money</mat-icon>
        <span fxLayoutGap="10px">
            <mat-form-field class="mat-input">
                <mat-label>Enter a balance</mat-label>
                <input matInput
                ngModel
                #declareBalance="ngModel" 
                required 
                type="number"
                >
                <mat-error *ngIf="declareBalance.hasError('required')">Field must not be empty.</mat-error>             
                
            </mat-form-field>
            <mat-error *ngIf="(!declareBalance.hasError('required') && declareBalance.value<=0)">{{ INVALID_BALANCE_MESSAGE }}</mat-error>
        </span>
    </div>
    <div mat-dialog-actions>
        <button mat-button
        color="warn"
        mat-raised-button
        [disabled]="declareBalance.hasError('required') || declareBalance.value<=0" 
        [mat-dialog-close]="declareBalance.value" 
        cdkFocusInitial>Ok</button>
    </div>
</div>
