<section class="expenses_section">
    <form
    #f="ngForm"
    fxLayout="column"
    (ngSubmit)="updateExpenses()"
    fxLayoutAlign="start stretch"
  >
  <div fxLayout="row" class="mat_input">
      <mat-label>
        <mat-icon class="material-icons-outlined">attach_money</mat-icon>
        <span fxLayoutGap="10px">
            <mat-form-field>
                <input
                type="number"
                matInput
                appearance="fill"
                ngModel
                name="expenses"
                required
                #balanceInput="ngModel"
              /> 
              <!-- Error display commented out until we implement component
                 <mat-error *ngIf="balanceInput.hasError('required')"
              >Field must not be empty.</mat-error>
            -->
            <!--
              Commenting out until we work out implementation.             
              <mat-error *ngIf="invalid_balance">{{ invalidMessage }}</mat-error>
              -->
            </mat-form-field>
            <button
            mat-raised-button
            color="warn"
            type="submit"
            [disabled]="f.invalid"
          >
          Update
            </button>
            <span class="current-expenses-span">
                <br>
                Current Expenses: $ {{currentExpenses}}
            </span>
        </span>
      </mat-label>
  </div>
    </form>
</section>
<!-- <label for= "expensesInput"> <span>Please enter your bi-weekly expenses</span> </label>
<input name ="expensesInput" type = "number" placeholder= "0.00" [(ngModel)]="account.expenses">
<button (click) = "updateExpenses()">Submit</button> 
<br>
<div *ngIf="error">{{error}}</div> -->