<mat-grid-list cols="3" row="5" rowHeight="20%">
    <mat-grid-tile *ngFor="let tile of tiles; let i = index" [colspan]="tile.cols" [rowspan]="tile.rows"
        [style.background]="tile.color">
        <div *ngIf="i == 2">
            <div style="width: 35vw; height: 35vh;">
                <canvas *ngIf="doughnutChartLabels && doughnutChartData" baseChart
                    [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [colors]="doughnutColors"
                    chartType="doughnut">
                </canvas>
            </div>
        </div>
        <div *ngIf="i == 3" row="1" rowspan="">
            <label style="font-size: large;" for="periodSlider">Pay Periods:
                {{payPeriods}}<br></label>

            <mat-slider matTooltip="Info about the action" id="periodSlider" style="width: 20vw;" min="2" max="52"
                value="{{payPeriods}}" step="1" (input)="onInputChange($event)"></mat-slider>

        </div>
        <div *ngIf="i == 1">
            <div style="width: 65vw;">
                <canvas *ngIf="lineChartData" baseChart  [datasets]="lineChartData"
                [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" chartType="line"></canvas>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>