<div class="flex">
    <mat-slider min="2" max="100" step="1" value="[(payPeriods)]"></mat-slider>
    <div class="flex-item">
        <div style="display: block;">
            <canvas baseChart width="400" height="400"
                        [datasets]="balanceChart.dataSets"
                        [labels]="balanceChart.labels"
                        ></canvas>
        </div>
    </div>
    <div class="flex-item">
        <div style="display: block;">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            chartType="doughnut">
            </canvas>
        </div>
    </div>
  
</div>

