<div class="flex">
    <mat-slider min="1" max="26" step="1" [(value)]="payPeriods"></mat-slider>
    <div class="flex-item">
        <div style="display: block;">
            <canvas *ngIf="balanceChart" baseChart width="400" height="400"
                        [datasets]="balanceChart.dataSets"
                        [labels]="balanceChart.labels"
                        
                        chartType="line"></canvas>
        </div>
    </div>
    <div class="flex-item">
        <div style="display: block;">
            <canvas *ngIf="doughnutChartLabels && doughnutChartData" baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [colors]="doughnutColors"
            chartType="doughnut">
            </canvas>
        </div>
    </div>
  
</div>

