<mat-toolbar class="mat-toolbar">
  <div>
    <img src="../../../../assets/rev-logo.png" alt="logo" id="logo">
  </div>



  <div fxFlex fxLayout fxLayoutAlign='start' class="nav-text">
    <div class="navigation-items">
      <button mat-button routerLink="/declareincome"> Declare Income ;)</button>

    </div>
  </div>

  <div fxFlex fxLayout fxLayoutAlign='center' class="nav-text">
    <div>
      <p>Personal Finance Application</p> 
    </div>
  </div>

  <div fxFlex fxLayout fxLayoutAlign='end' class="nav-text">
    <div class="navigation-items">
      <button mat-button routerLink="/login">Login</button>
    </div>
  </div>


</mat-toolbar>