<section class="expenses_section">
    <form
      #f="ngForm"
      fxLayout="column"
      (ngSubmit)="updateAccount(expensesInput.value)"
      fxLayoutAlign="start stretch"
    >
      <div class="expenses_title">Expenses</div>
      <div fxLayout="row" class="mat_input">
        <mat-label>
          <mat-icon class="material-icons-outlined">attach_money</mat-icon>
          <span fxLayoutGap="10px">
            <mat-form-field>
              <input
                type="number"
                matInput
                appearance="fill"
                ngModel
                name="expenses"
                required
                #expensesInput="ngModel"
              />   
              <mat-error *ngIf="expensesInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *!ngIf="expensesInput.hasError('required')">{{ error }}</mat-error>                   
            </mat-form-field>

            <button
              mat-raised-button
              color="warn"
              type="submit"
              [disabled]="f.invalid"
            >
              Update
            </button>
            <span class="current-expenses-span" *ngIf="currentExpenses"
              >Current Expenses: $ {{ account.expenses/100 }}
            </span>
          </span>
        </mat-label>
      </div>
      <mat-error *ngIf="error">{{ error }}</mat-error>
    </form>
  </section>
  

  <!-- 

<label for= "expensesInput"> <span>Please enter your bi-weekly expenses</span> </label>
<input name ="expensesInput" type = "number" placeholder= "0.00" [(ngModel)]="account.expenses">
<button (click) = "updateExpenses()">Submit</button> 
<br>
<div *ngIf="error">{{error}}</div>

  -->