<section class="expenses_section">
    <form
      #f="ngForm"
      fxLayout="column"
      (ngSubmit)="updateAccount(expensesInput.value)"
      fxLayoutAlign="start stretch"
    >
      <div fxLayout="row" class="mat_input">
        <mat-label>
          <mat-icon class="material-icons-outlined">attach_money</mat-icon>
          <span fxLayoutGap="10px">
            <mat-form-field>
              <input
                type="number"
                matInput
                appearance="fill"
                [(ngModel)]="expensesEntered"
                name="expenses"
                #expensesInput="ngModel"
                (keyup)="checkInput(expensesInput.value)"
              />   
              <mat-error *ngIf="expensesInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!expensesInput.hasError('required')">{{ error }}</mat-error>                   
            </mat-form-field>
            
            <button
              mat-raised-button
              color="warn"
              type="submit"
              [disabled]="f.invalid || !inputValidator(expensesInput.value)"
            >
              Update
            </button>
            <br/>
            <span class="current-expenses-span" 
              >Current Expenses: ${{ (account.expenses/100).toFixed(2) }}
            </span>
          </span>
        </mat-label>
      </div>
      <mat-error *ngIf="error">{{ error }}</mat-error>
    </form>
</section>
