.expenses_section {
    /* width: 800px; */
    /* position: fixed; */
    bottom: 10px;
    left: 10px;
    /* border: 1px solid black; */
  }

  mat-form-field {
    width: 200px;
  }
  
  .mat_input {
    font-family: Futura-Std-Book;
    font-size: 150%;
    /* flex-direction: row;
    box-sizing: border-box;
    display: flex; */
  }
  
  .expense_title {
    font-family: Futura-Std-Book;
    font-size: 200%;
    margin: 10px;
  }
  
  .current-expenses-span {
    margin: 30px;
  }

  .mat-raised-button {
    background-color: #F26925;
  }



  /* mat-form-field {
    width: 350px;
  }
  
  .mat_input {
    font-size: 150%;
  }
  
  .expenses_title {
    font-size: 200%;
    padding: 20px;
    border-bottom: 1px solid black;
    background-color: #f26925;
    color: white;
  }
  
  .current-expenses-span {
    color: #403932;
    font-size: 0.75em;
    margin: 30px;
  } */
