<mat-tab-group [dynamicHeight]="true">

  <mat-tab label="Update Account">
    <ng-template matTabContent>

      <mat-grid-list cols="3" rowHeight="30vh" gutterSize="25px">

        <mat-grid-tile>
          <mat-grid-tile-header><span>Biweekly Income</span></mat-grid-tile-header>
          <app-declare-income></app-declare-income>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header><span>Biweekly Expenses</span></mat-grid-tile-header>
          <app-declare-expenses></app-declare-expenses>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header><span>Update Balance</span></mat-grid-tile-header>
          <app-balance></app-balance>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
  </mat-tab>

  <mat-tab label="Projected Balance">
    <ng-template matTabContent>
      <app-projection></app-projection>
    </ng-template>
  </mat-tab>

</mat-tab-group>