/* .proj {
    position: relative;
    min-height: 80%;
    min-width: 80%;
    background: red;
} */

/* .body {
    margin: 25px;
} */

.mat-grid-list {
  position: relative;
  top: 8%;
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translate(-50%,0);
}

.mat-grid-tile {
  background: #FFFFFF;
  border: 2px solid #474C55;
  border-radius: 6px;
  max-width: 30%;
  max-height: 100%;
  box-shadow:
        0 4px 8px 0 rgba(72, 76, 86, 0.2),
        0 6px 20px 0 rgba(72, 76, 86, 0.1);        
}

.mat-grid-tile .mat-grid-tile-header {
  background: #F26925;
}
.mat-grid-tile .mat-grid-tile-header span {
  font-family: Futura-Std-Book;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

::ng-deep .mat-tab-list .mat-tab-labels {
  font-family: Futura-Std-Book;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  font-family: Futura-Std-Book;
}

::ng-deep.mat-tab-group { height: 90%; } 
::ng-deep.mat-tab-body-wrapper { flex-grow: 1; }
::ng-deep.mat-tab-body { display: flex !important; flex-direction: column; }
