.income_section {
    /* width: 800px; */
    /* position: fixed; */
    bottom: 10px;
    right: 10px;
    /* border: 1px solid black; */
  }
  
  mat-form-field {
    width: 200px;
  }
  
  .mat_input {
    font-family: Futura-Std-Book;
    font-size: 150%;
  }
  
  .income_title {
    font-family: Futura-Std-Book;
    font-size: 200%;
    margin: 10px;
  }
  
  .current-income-span {
    margin: 30px;
  }
  
