<section class="income_section">
    <form
      #f="ngForm"
      fxLayout="column"
      (ngSubmit)="updateAccount(incomeInput.value)"
      fxLayoutAlign="start stretch"
    >
      <div fxLayout="row" class="mat_input">
        <mat-label>
          <mat-icon class="material-icons-outlined">attach_money</mat-icon>
          <span fxLayoutGap="10px">
            <mat-form-field>
              <input
                type="number"
                matInput
                appearance="fill"
                ngModel
                name="income"
                required
                #incomeInput="ngModel"
              />   
              <mat-error *ngIf="incomeInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!incomeInput.hasError('required')">{{ error }}</mat-error>
            </mat-form-field>
            
            <button
              mat-raised-button
              color="warn"
              type="submit"
              [disabled]="f.invalid"
            >
              Update
            </button>
            <br/>
            <span class="current-income-span"
              >Current Income: $ {{ account.income/100 }}
            </span>
          </span>
        </mat-label>
      </div>
      <mat-error *ngIf="error">{{ error }}</mat-error>
    </form>
</section>
  