


.center{
    display:flex;
    flex-direction:column;
    border: 2px solid #b5b6d2;
    border-radius: 10%;
    width: 375px;
    height: 350px;
    margin:60px 540px;
    align-items: center;
    justify-content: center;
    background-color: #ecebec;
}

.form-group{
    margin: 2rem 0 ;
}

.labelfield{
    margin: 0 5px;
}

.btn{
    margin-left: 100px;
}

.loginStyle{

    border: 2px solid #b5b6d2;
    border-radius: 10%;
    width: 400px;
    height: 365px;
    margin:60px;
    background-color: #ecebec;

}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #F26925 !important;
   }
  
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color:#F26925 !important;
   }